<template>
  <div>
    <viewer>
      <h1>Git Pages</h1>
      <h2>利用Git pages架設自己的Vue網頁</h2>
      <li>
        在此不詳述如何使用Git，只簡單說明如何在Git Pages上佈署Vue
      </li>
      <ul>
        <li>
          <h3><img
              :src="GitHub_log"
              class="icon"
            /> GtiHub Pages</h3>
        </li>
        <li></li>
        <li>GitHub Pages 目前只提供讀取專案跟目錄下doc資料夾內的index.html</li>
        <li>由於在Vue Cli中預設打包輸出目錄為dist</li>
        <li>所以需要透過改寫vue.config.js中outputDir中的設定</li>
        <highlight-code lang="javascript">
          module.exports = {
          outputDir: "docs",
          assetsDir: "static",
          publicPath: "./",
          devServer: {
          port: 9000,
          open: true,
          https: false
          }
          };
        </highlight-code>
        <li>完成後，進行打包的動作</li>
        <highlight-code lang="shell">
          npm run build
        </highlight-code>
        <li>打包完成後將打包過後產生的doc資料夾Push上GitHub</li>
        <li>以上程式碼部分就已準備完畢，接著進入到GitHub內進行設定</li>
        <li>進入到專案的設定頁面</li>
      </ul>
    </viewer>
  </div>
</template>

<script>
export default {
  data() {
    return {
      GitHub_log: require("@/assets/icon/GitHub_icon.png"),
      Jenkins_01: require("@/assets/lesson/jenkins/Jenkins_01.png"),
    };
  },
  components: {},
  methods: {}
};
</script>

<style scoped>
#content {
  color: #2c3e50;
  margin-top: 1vh;
  margin-bottom: 5vh;
  background-color: #cddbe93b;
  border-width: 1px;
  border-color: rgb(177, 226, 206);
  border-style: solid;
  font-size: 2.5vh;
  padding-top: 2vh;
}
h1 {
  font-weight: normal;
  text-align: left;
  color: #509e9e;
}
h2 {
  text-align: left;
}
h3 {
  text-align: left;
  color: #00bcd4ed;
}
ul {
  list-style-type: none;
  text-align: left;
}
li {
  list-style: none;
  margin: 4px;
}
.screen {
  width: 64.3vh;
  height: 70vh;
}
.screenShot {
  width: 64.3vh;
  height: 10.5vh;
}
.webScreen {
  width: 64.3vh;
  height: 142vh;
}
.icon {
  width: 4vh;
  height: 4vh;
}
</style>
